<form>
    <div class="form-group">
        <label for="input-select">Loại tài khoản</label>
        <select class="form-control" id="input-select">
            <option>Quản trị viên</option>
            <option>Seo</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputText3" class="col-form-label">Tên tài khoản</label>
        <input id="inputText3" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="inputText3" class="col-form-label">Họ tên</label>
        <input id="inputText3" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="inputPassword">Mật khẩu</label>
        <input id="inputPassword" type="password" placeholder="Mật khẩu" class="form-control">
    </div>
    <div class="form-group">
        <label for="inputPassword">Nhập lại mật khẩu</label>
        <input id="inputPassword" type="password" placeholder="Nhập lại mật khẩu" class="form-control">
    </div>
    <div class="form-group">
        <label for="inputPassword">Hiển thị</label>
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
        </label>
    </div>
    <div class="card-body">
        <h4>Quyền hạn</h4>
        <form>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input"><span class="custom-control-label">Quản trị danh mục</span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" disabled=""><span class="custom-control-label">Quản trị giao diện </span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" disabled=""><span class="custom-control-label">Quản trị Thông tin </span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" disabled=""><span class="custom-control-label">Seo website </span>
            </label>
        </form>
    </div>
    <div>
        <a href="#" class="btn btn-primary btn-sm">Lưu</a>
        <a href="#" class="btn btn-primary btn-sm">Thoát</a>
    </div>
</form>