<h2>Thay đổi thông tin sản phẩm</h2>
<form>
Tên sản phẩm: <input type="text" name="ten" value="Dell G7"><br>
Thương hiệu: <input type="text" name="th" value="Dell"><br>
Giá <input type="text" name="gia" value="15.000.000"><br>
<input type="submit" value="Thay đổi">
</form>