<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Danh Sách Sản Phẩm</h2>

<button type="button">Thêm sản phẩm</button>
<br>
<br>
<table>
  <tr>
    <th>Tên Sản phẩm</th>
    <th>Thương hiệu</th>
    <th>Giá</th>
    <th>Tùy chọn</th>
  </tr>

  <tr>
    <td>Dell G7</td>
    <td>Dell</td>
    <td>25.000.000</td>
    <td>  <a href="#">Xóa</a> <a href="/thay-doi-thong-tin-san-pham">  Sửa</a> <a href="/chi-tiet-san-pham">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td>Asus Rog</td>
    <td>Asus</td>
    <td>22.000.000</td>
    <td>  <a href="#">Xóa</a> <a href="/thay-doi-thong-tin-san-pham">  Sửa</a> <a href="/chi-tiet-san-pham">  Xem chi tiết</a></td>
  </tr>
  <tr>
    <td>Macbook Pro 2018</td>
    <td>Apple</td>
    <td>44.000.000</td>
    <td>  <a href="#">Xóa</a> <a href="/thay-doi-thong-tin-san-pham">  Sửa</a> <a href="/chi-tiet-san-pham">  Xem chi tiết</a></td>
  </tr>
  <tr>
    <td>Iphone XS Max</td>
    <td>Apple</td>
    <td>28.000.000</td>
    <td>  <a href="#">Xóa</a> <a href="/thay-doi-thong-tin-san-pham">  Sửa</a> <a href="/chi-tiet-san-pham">  Xem chi tiết</a></td>
  </tr>
  <tr>
    <td>Ipad pro 2018</td>
    <td>Apple</td>
    <td>18.000.000</td>
    <td>  <a href="#">Xóa</a> <a href="/thay-doi-thong-tin-san-pham">  Sửa</a> <a href="/chi-tiet-san-pham">  Xem chi tiết</a></td>
  </tr>
  <tr>
    <td>Samsung Note 9</td>
    <td>SamSung</td>
    <td>19.000.000</td>
    <td>  <a href="#">Xóa</a> <a href="/thay-doi-thong-tin-san-pham">  Sửa</a> <a href="/chi-tiet-san-pham">  Xem chi tiết</a></td>
  </tr>
</table>

</body>
</html>
